.gameModeContainer {
  width: 80vw;
  max-width: 300px;

  display: flex;
  flex-direction: column;
}

.gameMode {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.link {
  width: 100%;
}

.homeBtn {
  align-self: center;
  margin-bottom: 20px;

  color: rgba(37, 37, 37, 0.8);
  cursor: pointer;
  transition: 0.3s;

  background-color: rgba(255, 221, 99, 0.9);
  border-radius: 100%;
  padding: 7px 10px;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px,
    rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}

.homeBtn:hover {
  color: rgba(37, 37, 37, 1);
  background-color: rgba(255, 221, 99, 1);
  transform: scale(1.06);
}

.gameMode button {
  padding: 18px;
  border: none;
  border-radius: 20px;
  color: #252525;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.gameMode button:hover {
  transform: scale(1.06);
}

.btnOne {
  background-color: #9eff63;
}

.btnTwo {
  background-color: #41d1c5;
}

.btnThree {
  background-color: #ffaf38;
}

.btnFour {
  background-color: #ff5050;
}

.gameMode button:nth-child(5) {
  background-color: #db9cff;
  cursor: not-allowed;
}
