.infoContainer {
  width: 90vw;
  max-width: 450px;
  background-color: rgba(255, 221, 99, 0.9);
  padding: 15px 10px 25px 20px;
  border-radius: 15px;
  color: #252525;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  max-height: 85vh;
  text-align: justify;
  font-weight: 500;
}

.infoCloseBtn {
  align-self: flex-end;
  color: #252525;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 5px;
}

.infoCloseBtn:hover {
  transform: scale(1.3);
}

.infoContent {
  overflow-y: auto;
  padding-right: 15px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infoContentOne {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoContentOne span {
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
  margin-right: 1px;
}

.infoContentTwo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoContentTwo span {
  padding: 1px 3px;
  margin-right: 3px;

  font-weight: 700;
  font-size: 17px;
}

.infoThemeOne span {
  background-color: #9eff63;
}

.infoThemeTwo span {
  background-color: #41d1c5;
}

.infoThemeThree span {
  background-color: #ffaf38;
}

.infoThemeFour span {
  background-color: #ff5050;
}

.infoSpecialCards {
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: rgba(255, 175, 56, .4);
  border-radius: 10px;
  padding: 15px;
}

.infoSpecialCards span {
  padding: 2px 5px;
  margin-right: 3px;

  font-weight: 600;
  font-size: 17px;

  background-color: rgba(37, 37, 37, .9);
  color: #fff;
}

.infoSpecialCards p:nth-child(1){
  text-align: center;
  font-weight: 700;
}


.infoContentThree {
  font-weight: 400;
  display: flex;
}

.infoContentTwo p:nth-child(1) {
  font-weight: 400;
}

.infoContent::-webkit-scrollbar {
  width: 10px;
}

.infoContent::-webkit-scrollbar-track {
  background: none;
}

.infoContent::-webkit-scrollbar-thumb {
  background: rgba(230, 130, 0, 0.5);
  border-radius: 20px;
}

.infoContent::-webkit-scrollbar-thumb:hover {
  background: #e29300;
}
