.cardThingContainer {
  width: 90vw;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 15px;
  color: #252525;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-height: 80vh;
}

.cardThingContainer h2 {
  font-size: 20px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
  text-transform: uppercase;
}

.cardThingAnswer {
  background-color: #41d1c5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px,
    rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.even-tip-thing {
  background-color: rgba(65, 209, 197, 0.15);
  padding: 10px;
  border-radius: 10px;
  margin: 7px 0;
  font-weight: 500;

  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.35);
}

.odd-tip-thing {
  background-color: rgba(42, 197, 184, 0.27);
  padding: 10px;
  border-radius: 10px;
  margin: 7px 0;
  font-weight: 500;

  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.35);
}

.clicked-tip {
  text-align: left;
  color: #2c2c2c;
}
