.cardPlaceContainer {
  width: 90vw;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 15px;
  color: #252525;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-height: 80vh;
}

.cardPlaceContainer h2 {
  font-size: 20px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
  text-transform: uppercase;
}

.cardPlaceAnswer {
  background-color: #ffaf38;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px,
    rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
  min-height: 70px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suportAnswer {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 10px;
}

.suportAnswer span {
  background-color: rgba(240, 248, 255, 0.15);
  color: rgba(37, 37, 37, 0.5);
  padding: 4px 8px;
  border-radius: 6px;

  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
}

.even-tip-place {
  background-color: rgba(255, 175, 56, 0.15);
  padding: 10px;
  border-radius: 10px;
  margin: 7px 0;
  font-weight: 500;

  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.35);
}

.odd-tip-place {
  background-color: rgba(255, 160, 19, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin: 7px 0;
  font-weight: 500;

  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.35);
}

.clicked-tip {
  text-align: left;
  color: #2c2c2c;
}